body {
  background-color: black;
  color: antiquewhite;
  margin: 0;
  padding: 0;
}

.gridLayout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "head head"
    "main main"
    "foot foot";
  grid-template-rows: 200px 900px 30px;
  grid-template-columns: 350px 1fr;
}

#header {
  grid-area: head;
  background-color: black;
}

#fullMain {
  background-color: black;
  grid-area: main;
  height: fit-content;
}

footer {
  grid-area: foot;
  flex-direction: column;
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  background-color: black;
  text-align: center;
}
aside {
  margin-top: 10px;
  background-color: pink;
  width: 180px;
  height: 100vh;
  padding: 10px;
  color: crimson;
}

aside ul {
  padding: 5px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro {
  color: rgb(122, 122, 122);
  padding: 5px;
}





/* __________responsive _____*/

@media screen and (max-width: 1024px) {
  aside div h4 {
    margin-left: 0px;
    flex-wrap: wrap;
  }
  aside div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  aside {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  aside div h4 {
    margin-left: 0px;
    flex-wrap: wrap;
  }
  aside div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  aside {
    height: 200px;
  }
}