body {
  background-color: black;
  color: antiquewhite;
  margin: 0;
  padding: 0;
}

.gridLayout {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-areas:
    "head head"
    "main main"
    "foot foot";
  grid-template-columns: repeat (2, 2fr);
}

#header {
  grid-area: head;
  height: fit-content;
}

#mainContainer {
  grid-area: main;
}

footer {
  grid-area: foot;
}



  /* __________responsive _____*/

  @media screen and (max-width: 470px) {
    main {
      display: inline;
      justify-content: center;
    }
  }
