aside {
    background-color: pink;
    width: 180px;
    height: 100vh;
    padding: 20px;
    color: crimson;
  }
  aside h4 {
    padding: 20px;
    margin-right: 30px;
  }
  aside ul {
    padding-left: 40px;
    padding-bottom: 20px;
  }

  /* __________responsive _____*/

@media screen and (max-width: 1024px) {
    aside div h4 {
      margin-left: 0px;
      flex-wrap: wrap;
      margin-bottom: 0px;
    }
    aside div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    aside ul {
      margin-left: 80px;
    }
    
    aside {
      width: 100%;
      height: fit-content;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 2Opx;;
      margin-bottom: 20px;
      padding-left: 40px;;
      z-index: 5;
    }
  }
