aside {
    background-image: url("../images/pierre.JPG");
    background-size: cover;
    background-position: center;
    width: 180px;
    max-height: max-content;
    padding: 20px;
    color: crimson;
  }
  .asideLink{
    cursor: pointer;
    background-color: rgb(198, 198, 201);
    padding: 10px;
    margin: 10px;
    opacity: 0.85;
    border-radius: 3px;;
    box-shadow: inset 0px 0px 10px 4px gray;
  }
 
  .asideLink ul {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* __________responsive _____*/

@media screen and (max-width: 1024px) {

  aside div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
 
 
    aside {
      width: 100vw;
      height: fit-content;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 2Opx;;
      margin-bottom: 20px;
      padding-left: 40px;;
      z-index: 5;
    }
  }
