.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}


/* _______mise en page des cartes _________*/
.card {
  width: 550px;
  height: fit-content;
  border-radius: 10px;
  padding: 1%;
  margin: 10px;
  background-color: setColorCard();
  margin-left: auto;
  margin-right: auto;
}

.card h2 {
  padding: 1%;
  margin: 1%;
  color:gray;
}

.card p {
  line-height: 2em;
}


/* __________mise en page des etiquettes _____*/
.internalLabel {
  background-color: whitesmoke;
  color: black;
  border-radius: 6px;
  margin: 1%;
  padding: 20px;
  font-size: 0.85em;
  text-align: justify;
}

.internalLabel span {
  display: flex;
  flex-direction: column;
}


.links {
  margin: 10px;
}

.pointer {
  cursor: pointer;
}


/* __________responsive _____*/
@media screen and (max-width: 1024px) {

  #training {
    display: flex;
    flex-direction: column;
  }
  #training ul {
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
  }
  .cards {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 280px;
    position: relative;
    margin-right: auto;
    margin-top: 2%;
    margin-left: auto;
  }
}
