.cards {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin: auto;
}
/* _______mise en page des cartes _________*/
.card {
  width: 500px;
  height: fit-content;
  border-radius: 10px;
  padding: 1%;
  background-color: setColorCard();
  margin: auto;
  margin-top: 10px;
}

.card h2 {
  padding: 1%;
  margin: 1%;
  color: gray;
}

.pointer {
  cursor: pointer;
}

/* __________mise en page des etiquettes _____*/
.internalLabel {
  background-color: whitesmoke;
  color: black;
  border-radius: 6px;
  margin: 1%;
  padding: 20px;
  font-size: 0.85em;
  text-align: justify;
}
/* __________responsive _____*/

@media screen and (max-width: 1200px) {
  .cards {
    display: inline;
    margin: auto;
  }
  .card {
    width: 480px;
    position: relative;
    right: auto;
    margin-top: 2%;
  }
}
