

.experiences {
  display: flex;
  flex-direction: row;
}

#selectXp {
  border-color: grey;
  color : crimson;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: inset 0px 0px 10px 4px gray;

}
#selectXP option {
  display: flex;
  flex-wrap: wrap;
}

/* __________responsive _____*/

@media screen and (max-width: 768px) {
  .cards {
    margin: auto;
  }
  #selectXp {
    width: 80%;
  }
  .logoXp {
    flex-direction: column;

  }
  .logoXp img {
    margin-top: 8%;
  }
}
