.logoXp {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  position: relative;
}

.logoXp img {
  height: 100px;
  width: 100px;
}

.experiences {
  display: flex;
  flex-direction: row;
}

#selectXp {
  border-color: crimson;
  color : crimson;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
#selectXP option {
  display: flex;
  flex-wrap: wrap;
}

/* __________responsive _____*/

@media screen and (max-width: 768px) {
  .cards {
    margin: auto;
  }
  #selectXp {
    width: 80%;
  }
  .logoXp {
    flex-direction: column;

  }
  .logoXp img {
    margin-top: 8%;
  }
}
