
#header{
  height: 300px;
  width: 100vw;
  margin: 0px;
}

#titles {
  padding-left: 50px;
  padding-top: 50px;
}
#titles p {
  margin-top:10px;
  margin-bottom: 20px;;
}
#titles h2 {
  margin-top: 30px;
}

.toggleburger{
  display: flex;
  flex-direction: row;
}


#menu a {
  text-decoration: none;
  color: crimson;
  font-size: 18px;
  margin-bottom: 20px;
}
#menu a:hover {
  color: palevioletred;
}

#menu ul {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: center;
  padding: 20px;
}
#menu ul li {
  display: flex;
  text-decoration: none;
  padding: 2px;
}


/* __________responsive _____*/
@media screen and (max-width: 470px) {
  /*zone de clic*/
  #burger {
    display: flex;
    right:20px;
    flex-direction: column;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    z-index: 11;
  }
  /*traits de burger */
  #burger span {
    width: 80%;
    height: 7px;
    position: relative;
    border-radius: 2px;
    border-radius: 2px;
    background: crimson;
    margin: 3px;
    z-index: 11;
  }


  #transparency {
    background-color: black;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    z-index: 9;
  }


  #menu {
    position: fixed;
    visibility: hidden;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 160px;
    background-color: #f7c3d4;
    padding: 5px;
    z-index: 10;
  }
  #menu ul {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    z-index: 11;
  }
  #menu.open {
    visibility: visible;
  }
}