
.mainSetting{
  display: flex;
  flex-direction: row;
  background-color: black;
  color: antiquewhite;
}


.intro {
    color: rgb(122, 122, 122);
    padding: 5px;
    margin: auto;
  }

 

  
  /* __________responsive _____*/
  @media screen and (max-width: 1024px) {
    .mainSetting {
      display: flex;
      flex-direction: column;
    }
  }

