#postit {
    background-image: url(../images/post-it-note.png);
    opacity: 1;
    background-size:100%;
    transform: rotate(-10deg);
    background-position-x: 40px;
    background-position-y: 30px;
    height: 450px;
    width: 450px;
}
#postitContent{
    transform: rotate(-7deg);
    margin: 20px;
    padding: 80px;
    line-height: 3em;
}